---
import type { SidebarSection as SidebarSectionType } from "../types/config";
import SidebarSection from "./SidebarSection.astro";

type Props = {
	sections: Array<SidebarSectionType>;
	currentPath: string;
};

const { sections, currentPath } = Astro.props;
---

<aside class="w-64 shrink-0 border-r border-white/10 pt-8 pb-10 pl-6 pr-4 overflow-y-auto hidden md:block sticky top-16 h-[calc(100dvh-4rem)]">
	<nav>
		{sections.map((section) => (
			<SidebarSection section={section} currentPath={currentPath} />
		))}
	</nav>
</aside>
